

<!-- 真ん中にback-groundimage -->

<div class="container">
	<%= render 'shared/genre'%>
				<div class="col-md-10">

					<div>
						<h1>いちごのショートケーキです</h1>
						<div>
						<p>商品説明です商品説明です商品説明です商品説明です</p>
						<p>商品説明です商品説明です商品説明です商品説明です</p>
						<p>商品説明です商品説明です商品説明です商品説明です</p>
						<p>商品説明です商品説明です商品説明です商品説明です</p>
					 </div>
					 <spana><h4>¥550</h4>（税込み）</spana>
		         </div>
			　　　<div class="dropdown">
					  <a id="dLabel" data-target="#" href="http://example.com/" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					    Dropdown trigger
					    <span class="caret"></span>
					  </a>

					  <ul class="dropdown-menu" aria-labelledby="dLabel">
					    ...
				  　　</ul>
				　</div>
				　 <!--  <link_to _path,class: "glyphicon glyphicon-wrench" > -->
		　　　　</div>
</div>
