			<h1>&#9734;お客様の声</h1>

			<% @questionnaires.each do |questionnaires| %>
			<% if questionnaires.category.name = "お客様の声"%>
				<div class="panel panel-danger ">
					<div class="panel-heading ">
					<span>(	&#9734;カテゴリ：<%= questionnaires.category.name %>)&emsp;</span>
						<%= questionnaires.title %>
					</div>

					<div class="panel-body ">
						<%= questionnaires.body %>
					</div>
				</div>
				<!-- allで回ってきているから.allはいらないか？ -->
				<!-- カラム名を.で指定する。 -->
				<% end %>
			<% end %>

		<%= link_to '改善案提案',new_questionnaire_path, class: 'btn btn-info' %></td>
		<p>※採用されるとギフト券１万円分もらえます</p>

<!-- eachはfindのように回すと一個づつになる。 -->