<% if model.errors.any? %>
	<div class="error_messages">
		<p><%= model.errors.count %>error prohibited this obj from being saved:</p>
		<ul>
			<% model.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>