<div class="col-md-2">
	<sideber class="genres">
		<table>
			<thead>
			   <tr>
				  <th>ジャンル検索</th>
			   </tr>
			</thead>
			<tbody>
				 <tr>
				  <td>< @books.each do |book| ></td>
                  <td>< end ></td>
                 </tr>
             </tbody>
        </table>
	</sideber>
 </div>