// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.glyphicon-plus-sign {
	color: black;
}

.fix{
	width:335px;
	display:inline-block;
    margin-left: 15px;
}

// .fix2{
// 	margin-right:30px;
// }

// .fix3{
// 	margin-left:10px;
// }
// .submitbtn{
// 	margin-left:10px;
// }