// Place all the styles related to the admin/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.ordered-back {
	background-color: rgba(255,255,255,0.8);
	border-top: 10px #deb887 double;
	border-bottom: 10px #deb887 double;
	padding: 20px 0;
	border-radius: 60px;
}